.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}


@media only screen and (max-width:800px)
{
    nav ul{
        position:absolute;
        top:70px;
        left:0;
        background:#333;
        width:100%;
        overflow:hidden;
        transition:max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom:10px ;
    }
    .menu-icon{
        display: block;
        cursor:pointer;
    }
}

@media only screen and(max-width:600px)
{
    .row{
        text-align:center;
    }
    .col-2,.col-3,.col-4{
        flex-basis:100%;
    }
}